<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails at the
  <a href="https://www.google.ca">Rails help pag</a>.
</p>
<p>
  To get help on this sample app, see the Rails  book.
</p>